@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,600;0,700;1,400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lora', serif;
  background-color: rgb(217, 237, 238);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

form{
   background-color: #fff;
   padding: 10px 30px;
   width: 400px;
   box-shadow: 3px 5px 20px 6px #d5d2d2;
}
form label{
   font-size: 18px;
   font-weight: bold;
   color: rgb(105, 101, 101);
}
.form-group{
   margin: 10px 0px;
}
.form-group input{
    padding:6px 17px;
    border-radius: 4px;
    border: 1px solid rgb(193, 187, 187);
    outline: none;
    width: 100%;
    margin-top: 5px;
    color: gray;
    font-size: 18px;
    font-weight: 100;
}
button{
   background-color: lightseagreen;
   padding: 10px 30px;
   border: none;
   color: #fff;
   border-radius: 4px;
   width: 100%;
   cursor: pointer;
   margin-top: 4px;
}
button:hover{
  background-color: rgb(20, 130, 125);
}